<!DOCTYPE html>
<html>
<head>
	<title>label</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/label.css')}}">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
	<meta id="templateStore" data-template='{{template|tojson}}'>

<div class="container">
  
  <div class="leftpane">
    <h2>Label the following</h2>
	<ol id="templateDisplay">
	</ol>
  </div>

  <div class="middlepane">
  	<canvas id="image"></canvas>
	<div class="btn-group">
  	<button id="undoButton">Undo</button>
		<button id="nextButton">Next</button>
		<button id="saveButton">Save</button>
		<button id="saveAndNextButton">Save & Next</button>
	</div>
  </div>

  <div class="rightpane">
  	<h2>{{template.name}}</h2>
  	<h2>{{dataset.name}}</h2>
  	<h2 id="imgName"></h2>
  </div>

</div>

<script type="text/javascript" src="{{url_for('static', filename='js/label.js')}}"></script>
</body>
</html>